.savedbackground {
    background-image: url("../../images/cuttingboard.jpeg");
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    z-index: -1;
}

.favorite {
    padding-top: 30px;
}

.favorite ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}